<h1>Day 1</h1>
<h1>Lab 1</h1>
<h2>Parent - Child Component</h2>
<app-parent></app-parent>

<h2>Communication through service</h2>
<app-sender></app-sender>
<app-receiver></app-receiver>

<h1>Lab 2</h1>
<h2>Change Detection</h2>
<app-parent2></app-parent2>

<h1>Lab 3</h1>
<h2>Custom Directive Example</h2>
<p appHighlight="lightgreen">Hover over this text to see the highlight!</p>
<p appHighlight="lightcoral">Hover here for a different color.</p>
<p appHighlight>Hover here (uses default yellow)</p>

<h1>Lab 4</h1>
<app-user-list></app-user-list>