<h3>Register Form Demo</h3>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
	<div>
		<label>Username:</label>
		<input formControlName="username">
		<div *ngIf="registerForm.get('username')?.pending">Checking availability...</div>
		<div *ngIf="registerForm.get('username')?.errors?.['usernameTaken']">
			Username is already taken.
		</div>
	</div>

	<div formArrayName="emails">
		<label>Emails:</label>
		<div *ngFor="let emailCtrl of emails.controls; let i = index">
			<input [formControlName]="i">
			<button type="button" (click)="removeEmail(i)" *ngIf="emails.length > 1">Remove</button>
		</div>
		<button type="button" (click)="addEmail()">Add Email</button>
	</div>

	<br>
	<button type="submit" [disabled]="registerForm.invalid || registerForm.pending">Register</button>
</form>
